
.navButton:hover{
    text-decoration: underline;
    color: #309BEC;
}

body {
    background-color: #FFF;
}

label{
    margin-right: 10px;
}

button {
    padding: 5px;
}

.main-content {
    margin-bottom: 40px;
}

.downloadButton {
    margin: 1%;
    padding: 100px;
    border-radius: 25px;
}

.item-of-list {
    cursor: pointer;
    background-color: #1B527C;
    border-radius: 5px;
    width: 100%;
    height: 3%;
    color: #fff;
    text-align: left;
    padding: 10px;
    margin: 10px;
}

.itemOfQuestions {
    cursor: pointer;
    background-color: #1B527C;
    border-radius: 5px;
    width: 100%;
    height: 3%;
    color: #fff;
    text-align: left;
    padding: 10px;
    margin: 10px;
}

.itemOfQuestions:hover{
    background-color: #309BEC;
}

.filterGroup {
    background-color: #1B527C;
    margin-top: 1%;
    margin-bottom: 1%;
}


.list-scroll-container {
    height: 80%;
    overflow: auto;
    margin-bottom: 1rem;
}

.list-el {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.login-form {
    margin: 100px;
    padding: 10px;
    padding-left: 20%;
    padding-right: 20%;
}

.header-block{
    margin: 20px;
    padding: 0px;
}

.masking-form {
    margin: 20px;
    padding: 0px;
    border: 1px solid black;
}

.masking-form-row {
    border: 1px solid black;
}

table {
    border-collapse: collapse;
    border: 4px solid #000;
    margin-bottom: 100px;
    margin-top: 2%;
    width: 100%;
}

td, th {
    padding: 5px;
    border: 2px solid black; 
    
}

.td-btn {
    width: 10%;
    max-width: 20%;
}

.header-modal{
    margin-bottom: 20px;
}

.check-item {
    margin-right: 20px;
}

.question {
    margin: 10px;
    padding: auto;
}

.answer {
    margin-left: 50px;
}

.navbar-noauth {
    margin-left: 10%;
}

.header-list {
    margin: 30px;
    padding: 0px;
}

button a {
    color: black;
}

button a:hover {
    color: gray;
}

.search-location {
    margin: 20px;
    padding: 10px;
    max-width: 80%;
}

.check-location {
    margin-right: 10px;
    padding: 0;
}

.check-item {
    margin-bottom: 2px;
}

.check-item:hover {
    background-color: #1B527C;
}

.btn-nav {
    background-color: #1B527C;
    border: 0;
    font-size: 1.5em;
    font-weight: bold;
}

.btn-nav:hover {
    background-color: #309BEC;
}

.form-add-el {
    margin: 10px;
}

.btn-manage-el {
    margin-left: 80%;
}

.btn-save-rule {
    width: 100%;
    margin-top: 2%;
    margin-bottom: 3%;
}

.rule-td-name {
    width: 15%;
}

.btn-full {
    width: 100%;
    margin-top: 2%;
    margin-bottom: 3%;
}

.btn-generate {
    margin: 4%;
}


@keyframes spinner {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
}
.loading-spinner {
    width: 50px;
    height: 50px;
    border: 10px solid #f3f3f3; /* Light grey */
    border-top: 10px solid #383636; /* Blue */
    border-radius: 50%;
    animation: spinner 1.5s linear infinite;
}

.spinner-container {
    display: grid;
    justify-content: center;
    align-items: center;
    height: 350px;
}

.td-action-rule {
    max-width: 15%;
    width: 10%;
}

.btn-action-rule {
    width: 100%;
    padding: 0%;
    margin-top: 2px;
    margin-bottom: 5px;
}

.instruction-modal {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 20%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.modal-dialog {
margin-left: 0;
margin-right: auto;
max-width: 80%;
}
  
.modal-content {
border-radius: 0;
}
